<%= form_for @car, url: car_path do |f| %>
        <div class="rounded-md shadow-sm">
            <div class="justify-between flex">
                <%= f.text_field :make, placeholder: "Make", class: "appearance-none rounded-md relative block w-full mr-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                <%= f.text_field :model, placeholder: "Model", class: "appearance-none rounded-md relative block w-full ml-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
            </div>
            <div class = "justify-between flex mt-2">
                <%= f.text_field :year, placeholder: "Year", class: "appearance-none rounded-md relative block w-32 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                <%= f.text_field :license_plate, placeholder: "License Plate #", class: "appearance-none rounded-md relative block w-32 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                <%= f.label :car_type, "Type:", class: "my-auto font-semibold" %>
                <%= f.select :car_type, options_for_select([['Sedan'], ['SUV'], ['Coupé'], ['Pickup'], ['Van']]), class: "appearance-none rounded-md relative block w-full py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"  %>
            </div>
            <%= f.submit "Add Car", class: "group relative w-full flex justify-center mt-6 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
        </div>
<% end %>