<div class="mx-auto">
    <img class="main-logo -mb-64 mt-5" src="/images/logo.png" alt="Fresh Wash Logo" />
    <div class="mx-auto min-h-screen flex items-center justify-center bg-gray-50 px-4 sm:px-6 lg:px-8"> 
        <div class="max-w-md w-full">
            <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
                Create new account
            </h2>
            <br>
            <%= form_for @user do |f| %>
                    <div class="rounded-md shadow-sm">
                        <div>
                            <%= f.text_field :name, placeholder: "Name", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                        </div>
                        <div>
                            <%= f.text_field :email, placeholder: "Email", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                        </div>
                        <div class="-mt-px">
                            <%= f.password_field :password, placeholder: "Password", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                        </div>
                        <div class="-mt-px">
                            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                        </div>
                        <%= f.submit "Create Account", class: "group relative w-full flex justify-center mt-6 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-600 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
                        
                    </div>
            <% end %>
        </div>
    </div>
</div>
    