
<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
            Welcome, <%= @user.name %>!
        </h1>
    </div>
</header>

<main>
  <div class="max-w-7xl mx-auto h-screen py-6 sm:px-6 lg:px-8 bg-gray-200">
    
    <% if !@cars.empty? %>

     <!-- Car Display -->
        <div class="max-w-7xl mx-auto h-screen py-6 sm:px-6 lg:px-8 bg-gray-200">
            <div class="flex-none text-2xl text-center text-gray-800 font-bold">
                <h2 class="mb-8">Registered Cars</h2>
            </div>
            <div class="mx-auto">
                <% @cars.each do |car| %>
            
                    <div class="flex mt-8 justify-center">
                        <div class="border-l border-t border-b border-gray-400 bg-white">
                            <svg class ="rounded-full border mt-8 ml-4 bg-gray-200 py-2" version="1.1" id="Capa_1" x="0px" y="0px" width="100px" height="98.967px" viewBox="0 0 98.967 98.967" style="enable-background:new 0 0 98.967 98.967;" xml:space="preserve">
                      
                      <!-- Silhouette Images -->
                                <% if car.car_type == 'Sedan' %>
                                    <path d="M17.275,52.156c-4.124,0-7.468,3.343-7.468,7.468c0,0.318,0.026,0.631,0.066,0.938c0.463,3.681,3.596,6.528,7.401,6.528c3.908,0,7.112-3.004,7.437-6.83c0.017-0.209,0.031-0.422,0.031-0.637C24.743,55.499,21.4,52.156,17.275,52.156z M13.537,56.81l1.522,1.523c-0.118,0.203-0.211,0.422-0.271,0.656h-2.146C12.752,58.177,13.063,57.435,13.537,56.81z M12.632,60.282h2.163c0.061,0.23,0.151,0.448,0.271,0.648l-1.526,1.525C13.067,61.835,12.749,61.093,12.632,60.282z M16.629,64.263c-0.809-0.113-1.544-0.43-2.166-0.899l1.518-1.519c0.2,0.117,0.419,0.203,0.648,0.263V64.263z M16.629,57.14c-0.235,0.062-0.455,0.154-0.66,0.275l-1.521-1.521c0.625-0.475,1.367-0.789,2.181-0.902V57.14z M17.922,54.99c0.814,0.113,1.557,0.429,2.181,0.903l-1.52,1.521c-0.204-0.121-0.426-0.213-0.66-0.275L17.922,54.99L17.922,54.99zM17.922,64.261v-2.152c0.23-0.061,0.447-0.146,0.647-0.264l1.519,1.519C19.466,63.833,18.73,64.148,17.922,64.261zM21.014,62.462l-1.531-1.533c0.12-0.201,0.217-0.416,0.278-0.646h2.146C21.793,61.091,21.488,61.839,21.014,62.462zM19.764,58.989c-0.061-0.234-0.153-0.453-0.271-0.656l1.524-1.523c0.471,0.625,0.782,1.367,0.894,2.18H19.764z"/>
                                    <path d="M79.284,52.156c-4.124,0-7.468,3.343-7.468,7.468c0,0.318,0.026,0.631,0.066,0.938c0.463,3.681,3.596,6.528,7.4,6.528c3.908,0,7.112-3.004,7.438-6.83c0.017-0.209,0.031-0.422,0.031-0.637C86.753,55.499,83.409,52.156,79.284,52.156z M75.546,56.81l1.521,1.523c-0.118,0.203-0.211,0.422-0.271,0.656H74.65C74.761,58.177,75.072,57.435,75.546,56.81z M74.642,60.282h2.163c0.061,0.23,0.151,0.448,0.271,0.648l-1.525,1.525C75.076,61.835,74.757,61.093,74.642,60.282z M78.638,64.263c-0.809-0.113-1.544-0.43-2.166-0.899l1.518-1.519c0.2,0.117,0.419,0.203,0.648,0.263V64.263z M78.638,57.14c-0.235,0.062-0.455,0.154-0.66,0.275l-1.521-1.521c0.625-0.475,1.366-0.789,2.181-0.902V57.14z M79.932,54.99c0.814,0.113,1.557,0.429,2.181,0.903l-1.521,1.521c-0.204-0.121-0.426-0.215-0.66-0.275V54.99z M79.932,64.261v-2.152c0.23-0.061,0.447-0.146,0.647-0.264l1.519,1.519C81.476,63.833,80.739,64.148,79.932,64.261z M83.023,62.462l-1.531-1.531c0.12-0.202,0.218-0.416,0.278-0.647h2.146C83.802,61.091,83.498,61.839,83.023,62.462z M81.773,58.989c-0.061-0.234-0.152-0.453-0.271-0.656l1.523-1.523c0.472,0.625,0.782,1.367,0.895,2.18H81.773z"/>
                                    <path d="M97.216,48.29v-5.526c0-0.889-0.646-1.642-1.524-1.779c-2.107-0.33-5.842-0.953-7.52-1.47c-2.406-0.742-11.702-4.678-14.921-5.417c-3.22-0.739-17.738-4.685-31.643,0.135c-2.353,0.815-12.938,5.875-19.162,8.506c-1.833,0.04-19.976,3.822-20.942,6.414c-0.966,2.593-1.269,3.851-1.447,4.509c-0.178,0.658,0,3.807,1.348,6c1.374,0.777,4.019,1.299,7.077,1.649c-0.035-0.187-0.073-0.371-0.097-0.56c-0.053-0.404-0.078-0.773-0.078-1.125c0-4.945,4.022-8.969,8.968-8.969s8.968,4.023,8.968,8.969c0,0.254-0.017,0.506-0.036,0.754c-0.047,0.555-0.147,1.094-0.292,1.613c0.007,0,0.024,0,0.024,0l44.516-0.896c-0.02-0.115-0.046-0.229-0.061-0.346c-0.053-0.402-0.078-0.772-0.078-1.125c0-4.945,4.022-8.968,8.968-8.968c4.946,0,8.969,4.022,8.969,8.968c0,0.019-0.002,0.035-0.003,0.053l0.19-0.016l7.611-1.433c0,0,2.915-1.552,2.915-5.822C98.967,49.56,97.216,48.29,97.216,48.29z M53.057,43.051L36.432,43.56c0.306-2.491-1.169-3.05-1.169-3.05c6.609-5.999,19.929-6.202,19.929-6.202L53.057,43.051z M71.715,42.29l-15.15,0.509l1.373-8.49c7.83-0.102,12.303,1.626,12.303,1.626l2.237,3.61L71.715,42.29z M80.256,42.238h-4.221l-4.22-5.795c3.166,1.26,5.7,2.502,7.209,3.287C79.94,40.206,80.44,41.223,80.256,42.238" />

                                <% elsif car.car_type == 'Coupé' %>
                                    <path d="M17.275,52.156c-4.124,0-7.468,3.343-7.468,7.468c0,0.318,0.026,0.631,0.066,0.938c0.463,3.681,3.596,6.528,7.401,6.528c3.908,0,7.112-3.004,7.437-6.83c0.017-0.209,0.031-0.422,0.031-0.637C24.743,55.499,21.4,52.156,17.275,52.156z M13.537,56.81l1.522,1.523c-0.118,0.203-0.211,0.422-0.271,0.656h-2.146C12.752,58.177,13.063,57.435,13.537,56.81z M12.632,60.282h2.163c0.061,0.23,0.151,0.448,0.271,0.648l-1.526,1.525C13.067,61.835,12.749,61.093,12.632,60.282z M16.629,64.263c-0.809-0.113-1.544-0.43-2.166-0.899l1.518-1.519c0.2,0.117,0.419,0.203,0.648,0.263V64.263z M16.629,57.14c-0.235,0.062-0.455,0.154-0.66,0.275l-1.521-1.521c0.625-0.475,1.367-0.789,2.181-0.902V57.14z M17.922,54.99c0.814,0.113,1.557,0.429,2.181,0.903l-1.52,1.521c-0.204-0.121-0.426-0.213-0.66-0.275L17.922,54.99L17.922,54.99zM17.922,64.261v-2.152c0.23-0.061,0.447-0.146,0.647-0.264l1.519,1.519C19.466,63.833,18.73,64.148,17.922,64.261zM21.014,62.462l-1.531-1.533c0.12-0.201,0.217-0.416,0.278-0.646h2.146C21.793,61.091,21.488,61.839,21.014,62.462zM19.764,58.989c-0.061-0.234-0.153-0.453-0.271-0.656l1.524-1.523c0.471,0.625,0.782,1.367,0.894,2.18H19.764z"/>
		                                <path d="M79.284,52.156c-4.124,0-7.468,3.343-7.468,7.468c0,0.318,0.026,0.631,0.066,0.938c0.463,3.681,3.596,6.528,7.4,6.528c3.908,0,7.112-3.004,7.438-6.83c0.017-0.209,0.031-0.422,0.031-0.637C86.753,55.499,83.409,52.156,79.284,52.156z M75.546,56.81l1.521,1.523c-0.118,0.203-0.211,0.422-0.271,0.656H74.65C74.761,58.177,75.072,57.435,75.546,56.81z M74.642,60.282h2.163c0.061,0.23,0.151,0.448,0.271,0.648l-1.525,1.525C75.076,61.835,74.757,61.093,74.642,60.282z M78.638,64.263c-0.809-0.113-1.544-0.43-2.166-0.899l1.518-1.519c0.2,0.117,0.419,0.203,0.648,0.263V64.263z M78.638,57.14c-0.235,0.062-0.455,0.154-0.66,0.275l-1.521-1.521c0.625-0.475,1.366-0.789,2.181-0.902V57.14z M79.932,54.99c0.814,0.113,1.557,0.429,2.181,0.903l-1.521,1.521c-0.204-0.121-0.426-0.215-0.66-0.275V54.99z M79.932,64.261v-2.152c0.23-0.061,0.447-0.146,0.647-0.264l1.519,1.519C81.476,63.833,80.739,64.148,79.932,64.261z M83.023,62.462l-1.531-1.531c0.12-0.202,0.218-0.416,0.278-0.647h2.146C83.802,61.091,83.498,61.839,83.023,62.462z M81.773,58.989c-0.061-0.234-0.152-0.453-0.271-0.656l1.523-1.523c0.472,0.625,0.782,1.367,0.895,2.18H81.773z"/>
		                                <path d="M97.216,48.29v-5.526c0-0.889-0.646-1.642-1.524-1.779c-2.107-0.33-5.842-0.953-7.52-1.47c-2.406-0.742-11.702-4.678-14.921-5.417c-3.22-0.739-17.738-4.685-31.643,0.135c-2.353,0.815-12.938,5.875-19.162,8.506c-1.833,0.04-19.976,3.822-20.942,6.414c-0.966,2.593-1.269,3.851-1.447,4.509c-0.178,0.658,0,3.807,1.348,6c1.374,0.777,4.019,1.299,7.077,1.649c-0.035-0.187-0.073-0.371-0.097-0.56c-0.053-0.404-0.078-0.773-0.078-1.125c0-4.945,4.022-8.969,8.968-8.969s8.968,4.023,8.968,8.969c0,0.254-0.017,0.506-0.036,0.754c-0.047,0.555-0.147,1.094-0.292,1.613c0.007,0,0.024,0,0.024,0l44.516-0.896c-0.02-0.115-0.046-0.229-0.061-0.346c-0.053-0.402-0.078-0.772-0.078-1.125c0-4.945,4.022-8.968,8.968-8.968c4.946,0,8.969,4.022,8.969,8.968c0,0.019-0.002,0.035-0.003,0.053l0.19-0.016l7.611-1.433c0,0,2.915-1.552,2.915-5.822C98.967,49.56,97.216,48.29,97.216,48.29z M53.057,43.051L36.432,43.56c0.306-2.491-1.169-3.05-1.169-3.05c6.609-5.999,19.929-6.202,19.929-6.202L53.057,43.051z M71.715,42.29l-15.15,0.509l1.373-8.49c7.83-0.102,12.303,1.626,12.303,1.626l2.237,3.61L71.715,42.29z M80.256,42.238h-4.221l-4.22-5.795c3.166,1.26,5.7,2.502,7.209,3.287C79.94,40.206,80.44,41.223,80.256,42.238z"/>
                   
                                <% elsif car.car_type == 'SUV' %>
                                    <path d="M15.078,51.768c-5.832,0-10.562,4.728-10.562,10.562c0,0.451,0.037,0.891,0.094,1.328c0.655,5.205,5.086,9.233,10.468,9.233c5.526,0,10.058-4.25,10.516-9.66c0.024-0.298,0.045-0.597,0.045-0.901C25.639,56.496,20.911,51.768,15.078,51.768z M11.107,59.339l1.617,1.618c-0.126,0.216-0.225,0.449-0.287,0.697h-2.28C10.274,60.792,10.605,60.002,11.107,59.339z M10.147,63.029h2.298c0.064,0.245,0.16,0.475,0.287,0.688l-1.621,1.621C10.609,64.675,10.27,63.889,10.147,63.029z M14.392,67.255c-0.859-0.12-1.641-0.457-2.301-0.956l1.611-1.611c0.213,0.125,0.445,0.215,0.689,0.277L14.392,67.255L14.392,67.255z M14.392,59.691c-0.251,0.063-0.483,0.164-0.701,0.292l-1.615-1.617c0.664-0.504,1.452-0.838,2.316-0.958V59.691z M15.766,57.409c0.864,0.12,1.653,0.454,2.316,0.959l-1.616,1.616c-0.216-0.128-0.451-0.229-0.7-0.292V57.409z M15.766,67.253v-2.288c0.244-0.062,0.475-0.155,0.688-0.279l1.612,1.612C17.406,66.797,16.623,67.133,15.766,67.253z M19.049,65.342l-1.626-1.627c0.128-0.214,0.23-0.44,0.295-0.687h2.28C19.875,63.887,19.552,64.683,19.049,65.342z M17.721,61.655c-0.063-0.249-0.162-0.481-0.287-0.697l1.618-1.618c0.5,0.664,0.831,1.452,0.949,2.315H17.721z"/>
		                                <path d="M80.286,51.768c-5.831,0-10.562,4.728-10.562,10.562c0,0.451,0.037,0.891,0.095,1.328c0.655,5.205,5.085,9.233,10.467,9.233c5.527,0,10.06-4.25,10.517-9.66c0.023-0.298,0.045-0.597,0.045-0.901C90.848,56.496,86.12,51.768,80.286,51.768z M76.315,59.339l1.618,1.618c-0.127,0.216-0.226,0.449-0.289,0.697h-2.278C75.483,60.792,75.813,60.002,76.315,59.339z M75.356,63.029h2.298c0.062,0.245,0.16,0.475,0.287,0.688l-1.622,1.621C75.817,64.675,75.479,63.889,75.356,63.029z M79.6,67.255c-0.858-0.12-1.641-0.457-2.301-0.956l1.612-1.611c0.212,0.125,0.444,0.215,0.688,0.277V67.255L79.6,67.255z M79.6,59.691c-0.25,0.063-0.482,0.164-0.7,0.292l-1.615-1.617c0.664-0.504,1.452-0.838,2.315-0.958V59.691z M80.975,57.409c0.865,0.12,1.652,0.454,2.315,0.959l-1.614,1.616c-0.218-0.128-0.453-0.229-0.701-0.292V57.409z M80.975,67.253v-2.288c0.244-0.062,0.476-0.155,0.688-0.279l1.613,1.612C82.615,66.797,81.832,67.133,80.975,67.253z M84.258,65.342l-1.627-1.627c0.129-0.214,0.23-0.44,0.297-0.687h2.278C85.084,63.887,84.762,64.683,84.258,65.342z M82.93,61.655c-0.063-0.249-0.162-0.481-0.287-0.697l1.619-1.618c0.5,0.664,0.83,1.452,0.947,2.315H82.93z"/>
		                                <path d="M75.914,26.198l-28.335,0.357c-0.85,0.01-1.53,0.708-1.519,1.558c0.009,0.837,0.688,1.509,1.52,1.519c0.014,0,0.025,0,0.038,0l28.335-0.357c0.85-0.01,1.53-0.708,1.52-1.558C77.461,26.867,76.74,26.166,75.914,26.198z"/>
		                                <path d="M64.707,62.041H31.253c-0.85,0-1.538,0.689-1.538,1.539c0,0.851,0.688,1.539,1.538,1.539h33.454c0.85,0,1.538-0.688,1.538-1.539C66.245,62.73,65.557,62.041,64.707,62.041z"/>
		                                <path d="M98.658,53.259c-0.357-0.436-0.895-0.688-1.458-0.688h-1.749l-1.777-19.458c-0.098-1.074-1.006-1.891-2.086-1.875l-50.028,0.75c-0.778,0.012-1.51,0.376-1.988,0.991l-6.631,8.523l-21.714,1.345c-1.181,0.074-2.262,0.689-2.926,1.668l-1.223,1.799c0,0-2.094,0.737-2.655,1.201c-0.487,0.403-1.456,2.069-1.456,2.069c-0.184,0.26-0.206,0.603-0.059,0.884c0.146,0.283,0.438,0.46,0.757,0.46v1.896H1.858C0.831,52.825,0,53.657,0,54.682v3.424c0,1.272,1.031,2.305,2.305,2.305H3.54l3.183-8.782c0.29-0.8,1.05-1.333,1.9-1.333h11.11c0.63,0,1.225,0.294,1.607,0.796l7.484,9.824h39.064l5.482-9.25c0.363-0.614,1.023-0.99,1.738-0.99h10.201c0.72,0,1.385,0.383,1.748,1.005l5.375,9.236h1.928c2.027,0,3.773-1.435,4.165-3.425l0.524-2.666C99.162,54.271,99.018,53.697,98.658,53.259z M51.068,43.467H39.54v-3.541h-2.335l3.494-4.613c0.15-0.199,0.384-0.317,0.633-0.321l11.694-0.174v5.108L51.068,43.467z M70.131,43.467H57.699v-8.719l14.993-0.223v6.38L70.131,43.467z M76.538,43.467v-9l12.907-0.192c0.22-0.003,0.402,0.166,0.419,0.385l0.606,8.807H76.538z"/>

                                <% elsif car.car_type == 'Van' %>
                                    <path d="M19.097,54.071c-4.175,0-7.561,3.383-7.561,7.56c0,0.324,0.026,0.641,0.066,0.951c0.469,3.729,3.642,6.611,7.494,6.611c3.959,0,7.202-3.042,7.53-6.916c0.018-0.214,0.033-0.428,0.033-0.646C26.66,57.454,23.275,54.071,19.097,54.071z M15.31,58.782l1.543,1.543c-0.121,0.206-0.214,0.429-0.274,0.665h-2.174C14.518,60.165,14.833,59.415,15.31,58.782z M14.397,62.298h2.189c0.062,0.233,0.153,0.454,0.274,0.656L15.314,64.5C14.838,63.871,14.513,63.119,14.397,62.298z M18.443,66.328c-0.818-0.112-1.564-0.434-2.193-0.908l1.537-1.538c0.202,0.118,0.424,0.205,0.656,0.266V66.328z M18.443,59.116c-0.238,0.062-0.461,0.157-0.668,0.279l-1.541-1.541c0.633-0.48,1.385-0.8,2.209-0.913V59.116z M19.752,56.941c0.826,0.113,1.577,0.433,2.209,0.914l-1.54,1.54c-0.207-0.122-0.43-0.218-0.669-0.279V56.941z M19.752,66.328v-2.182c0.233-0.061,0.454-0.147,0.657-0.268l1.538,1.54C21.317,65.894,20.572,66.214,19.752,66.328z M22.885,64.504l-1.551-1.551c0.12-0.203,0.22-0.42,0.282-0.655h2.172C23.673,63.119,23.364,63.875,22.885,64.504z M21.617,60.99c-0.06-0.236-0.153-0.459-0.274-0.665l1.543-1.543c0.478,0.633,0.792,1.383,0.905,2.208H21.617z"/>
		                                <path d="M83.965,54.071c-4.176,0-7.561,3.383-7.561,7.56c0,0.324,0.025,0.641,0.065,0.951c0.468,3.729,3.643,6.611,7.494,6.611c3.958,0,7.201-3.042,7.53-6.916c0.018-0.214,0.031-0.428,0.031-0.646C91.526,57.454,88.142,54.071,83.965,54.071z M80.177,58.782l1.543,1.543c-0.12,0.206-0.214,0.429-0.273,0.665h-2.175C79.385,60.165,79.7,59.415,80.177,58.782z M79.265,62.298h2.19c0.062,0.233,0.152,0.454,0.272,0.656L80.182,64.5C79.705,63.871,79.38,63.119,79.265,62.298z M83.31,66.328c-0.818-0.112-1.563-0.434-2.192-0.908l1.537-1.538c0.201,0.118,0.424,0.205,0.655,0.266V66.328z M83.31,59.116c-0.237,0.062-0.461,0.157-0.669,0.279L81.1,57.854c0.634-0.48,1.385-0.8,2.209-0.913L83.31,59.116L83.31,59.116z M84.62,56.941c0.824,0.113,1.576,0.433,2.209,0.914l-1.541,1.54c-0.207-0.122-0.431-0.218-0.668-0.279V56.941z M84.62,66.328v-2.182c0.231-0.061,0.454-0.147,0.655-0.268l1.538,1.54C86.184,65.894,85.438,66.214,84.62,66.328z M87.752,64.504l-1.551-1.551c0.12-0.203,0.22-0.42,0.281-0.655h2.174C88.54,63.119,88.23,63.875,87.752,64.504z M86.483,60.99c-0.06-0.236-0.152-0.459-0.272-0.665l1.542-1.543c0.478,0.633,0.792,1.383,0.906,2.208H86.483z"/>
		                                <path d="M99.091,47.939c-0.056-1.67-0.516-3.301-1.339-4.754l-5.43-9.581c-0.89-1.569-2.521-2.573-4.322-2.664c-9.1-0.456-37.002-1.618-45.786,0.744C36.272,33.283,21.278,43.14,21.278,43.14S4.781,45.695,1.634,53.219c0,0-1.358,0.793-1.605,2.826c-0.127,1.046,0.183,2.634,0.525,3.965c0.375,1.456,1.582,2.552,3.067,2.783l7.16,1.122c-0.107-0.391-0.196-0.788-0.248-1.198c-0.045-0.354-0.075-0.716-0.075-1.087c0-4.763,3.875-8.637,8.639-8.637c4.765,0,8.64,3.874,8.64,8.637c0,0.249-0.016,0.493-0.036,0.735c-0.072,0.844-0.268,1.651-0.567,2.408l0.842,0.045l47.568-1.287c-0.061-0.268-0.109-0.538-0.145-0.814c-0.046-0.354-0.074-0.716-0.074-1.087c0-4.763,3.875-8.637,8.638-8.637c4.765,0,8.64,3.874,8.64,8.637c0,0.249-0.016,0.493-0.037,0.735c-0.013,0.16-0.041,0.315-0.062,0.473L96.609,62c1.693-0.346,2.891-1.86,2.831-3.589L99.091,47.939z M71.715,32.71l1.093,10.911l-16.774,0.686V32.655C60.938,32.542,66.536,32.593,71.715,32.71z M29.387,45.087l-1.659,0.093c-0.451,0.025-0.864-0.249-1.016-0.675c-0.152-0.424-0.005-0.897,0.358-1.164c0.975-0.712,2.169-1.563,3.499-2.462v2.784C29.759,44.348,29.387,45.087,29.387,45.087zM33.498,42.533c-0.105,0.004-0.191,0.03-0.291,0.04V39.15c3.382-2.144,7.215-4.273,10.511-5.34c1.5-0.485,4.236-0.795,7.636-0.98v11.668l-14.412,0.589C36.942,45.087,36.442,42.423,33.498,42.533z M91.768,41.475c-0.503,0.874-1.419,1.429-2.426,1.471L77.49,43.43l-1.062-10.594c4.898,0.149,8.99,0.333,11.063,0.445c0.959,0.051,1.824,0.604,2.271,1.454l2.057,3.903C92.29,39.531,92.27,40.603,91.768,41.475z"/>
                   
                                <% else %>
                                    <path d="M99.028,45.872c-0.119-0.118-0.28-0.186-0.447-0.185l-43.616,0.059L54.2,36.729c-0.237-2.797-2.641-4.905-5.444-4.776l-12.437,0.569c-2.064,0.096-3.879,1.397-4.628,3.323l-2.231,5.73L8.753,42.678c-2.545,0.136-4.661,2.01-5.103,4.521L1.748,58.014l-0.963,0.8c-0.523,0.436-0.813,1.09-0.783,1.771c0.031,0.68,0.378,1.307,0.938,1.691l0.581,0.4c0.864,0.595,2.03,0.488,2.771-0.253l0.604-0.604c0.287-0.286,0.452-0.671,0.462-1.074c0.065-2.482,1.645-8.659,8.745-8.659c3.555,0,8.437,2.832,8.437,8.983c0,1.374,1.073,3.056,4.572,3.056h8.675c2.29,0,4.486-0.909,6.106-2.528l27.787,0.223c-0.58-4.692,2.876-9.73,8.278-9.73c8.677,0,8.883,9.523,13.369,9.523c0.378,0,1.514,0,1.514,0c2.733,0.001,4.954-2.211,4.965-4.943l0.038-9.718h0.739c0.349,0,0.63-0.281,0.63-0.63C99.215,46.151,99.147,45.991,99.028,45.872z M48.019,40.835c-0.015,0.803-0.654,1.455-1.456,1.483l-7.399,0.273l-1.637-3.124c-0.261-0.496-0.874-0.689-1.369-0.429c-0.497,0.26-0.688,0.873-0.428,1.369l1.187,2.267l-1.244,0.046c-0.405,0.015-0.792-0.165-1.041-0.483c-0.25-0.318-0.331-0.737-0.219-1.127l1.183-4.108c0.309-1.074,1.273-1.829,2.389-1.871l8.549-0.321c0.416-0.015,0.819,0.143,1.116,0.433c0.297,0.292,0.461,0.691,0.453,1.107L48.019,40.835z"/>
		                                <path d="M13.866,54.006c-3.662,0.036-6.601,3.03-6.567,6.692c0.003,0.284,0.029,0.561,0.067,0.833c0.441,3.266,3.248,5.767,6.626,5.734c3.473-0.032,6.29-2.727,6.545-6.127c0.014-0.187,0.025-0.376,0.023-0.566C20.527,56.911,17.529,53.971,13.866,54.006z M13.316,56.529l0.019,1.906c-0.208,0.058-0.403,0.141-0.584,0.252l-1.364-1.34C11.938,56.922,12.594,56.636,13.316,56.529z M10.584,58.168l1.367,1.341c-0.105,0.183-0.185,0.378-0.236,0.585l-1.906,0.02C9.901,59.389,10.171,58.728,10.584,58.168z M9.813,61.26l1.919-0.018c0.056,0.205,0.138,0.396,0.246,0.572l-1.342,1.369C10.213,62.635,9.921,61.979,9.813,61.26z M11.463,63.981l1.335-1.36c0.178,0.101,0.374,0.178,0.578,0.227l0.019,1.913C12.676,64.667,12.019,64.392,11.463,63.981z M18.04,60.036l-1.907,0.019c-0.055-0.208-0.139-0.399-0.246-0.582l1.34-1.365C17.652,58.657,17.934,59.312,18.04,60.036z M14.464,56.518c0.725,0.096,1.386,0.368,1.944,0.783l-1.337,1.364c-0.183-0.107-0.38-0.188-0.59-0.239L14.464,56.518z M14.542,64.748l-0.018-1.911c0.204-0.055,0.397-0.134,0.574-0.24l1.361,1.338C15.911,64.355,15.26,64.645,14.542,64.748z M17.274,63.124l-1.372-1.346c0.103-0.18,0.189-0.371,0.242-0.578l1.904-0.019C17.953,61.901,17.689,62.568,17.274,63.124z"/>
		                                <path d="M78.109,54.006c-3.662,0.036-6.602,3.03-6.567,6.692c0.003,0.284,0.029,0.561,0.066,0.833c0.441,3.266,3.248,5.767,6.626,5.734c3.473-0.032,6.29-2.727,6.546-6.127c0.014-0.187,0.025-0.376,0.023-0.566C84.771,56.911,81.772,53.971,78.109,54.006z M77.56,56.529l0.018,1.906c-0.208,0.058-0.402,0.141-0.584,0.252l-1.364-1.34C76.183,56.922,76.837,56.636,77.56,56.529z M74.827,58.168l1.367,1.341c-0.104,0.183-0.185,0.378-0.235,0.585l-1.905,0.02C74.145,59.389,74.414,58.728,74.827,58.168z M74.057,61.26l1.92-0.018c0.056,0.205,0.138,0.396,0.246,0.572l-1.344,1.369C74.456,62.635,74.164,61.979,74.057,61.26z M75.706,63.981l1.335-1.36c0.179,0.101,0.374,0.178,0.578,0.227l0.02,1.913C76.919,64.667,76.264,64.392,75.706,63.981z M82.284,60.036l-1.907,0.019c-0.055-0.208-0.139-0.399-0.245-0.582l1.34-1.365C81.896,58.657,82.178,59.312,82.284,60.036z M78.707,56.518c0.726,0.096,1.387,0.368,1.944,0.783l-1.337,1.364c-0.183-0.107-0.379-0.188-0.589-0.239L78.707,56.518z M78.786,64.748l-0.018-1.911c0.204-0.055,0.396-0.134,0.574-0.24l1.36,1.338C80.155,64.355,79.503,64.645,78.786,64.748z M81.518,63.124l-1.372-1.346c0.103-0.18,0.188-0.371,0.242-0.578l1.903-0.019C82.197,61.901,81.933,62.568,81.518,63.124z"/>
                                <% end %>
                            </svg>
                        </div>

                        <div class="border-r border-b border-t border-gray-400  bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                            <div class="mb-8">
                        
                                <div class="text-gray-900 font-bold text-xl mb-2">
                                    <%= car.year %> <%= car.make %> <%= car.model %>
                                </div>
                                <% if car.washes.empty? %>
                                    <p class="text-blue-600 font-semibold text-base">Get your first wash today!</p>
                                <% else %>
                                    <p class="text-gray-700 text-base">Last washed on <%= car.washes.last.updated_at.strftime("%B %e, %Y") %></p>
                                <% end %>
                            </div> 
                            <div class="flex items-center justify-between">
                                <a href="/cars/<%= car.id %>/edit">
                                    <button class="group relative w-48 flex justify-center mr-1 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-400 hover:bg-gray-700 focus:outline-none focus:border-gray-500 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                        Edit Car
                                    </button>
                                </a>
                                <a href="/cars/<%= car.id %>/packages/new">
                                <button class="group relative w-48 flex justify-center ml-1 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:border-blue-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                    Wash Car!
                                </button>
                                </a>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
    <% end %>
      
      <!-- Add New Car Modal Button-->

            <div class="flex items-center justify-center mt-8  ">
                <button class="modal-open bg-transparent border border-gray-800 hover:border-blue-600 text-gray-800 hover:text-blue-600 text-xl font-bold py-2 px-4 rounded-full">
                    Add New Car
                </button>
            </div> 
        </div>

    <!--   Modal   -->

        <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
            <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-100"></div>
    
            <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto mb-64 rounded shadow-lg z-50 overflow-y-auto">
      
      

            <!-- Add margin if you want to see some of the overlay behind the modal-->
                <div class="modal-content py-4 text-left px-6">
            <!--Title-->
                    <div class="flex justify-between items-center pb-3">
                        <p class="text-2xl font-bold">New Car Information</p>
                        <div class="modal-close cursor-pointer z-50">
                            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                            </svg>
                        </div>
                    </div>

              <!--Modal Body-->
                    <%= form_for @car, url: cars_path do |f| %>
                        <div class="rounded-md shadow-sm">
                            <div class="justify-between flex">
                                <%= f.text_field :make, placeholder: "Make", class: "appearance-none rounded-md relative block w-full mr-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                                <%= f.text_field :model, placeholder: "Model", class: "appearance-none rounded-md relative block w-full ml-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                            </div>
                            <div class = "justify-between flex mt-2">
                                <%= f.text_field :year, placeholder: "Year", class: "appearance-none rounded-md relative block w-32 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                                <%= f.text_field :license_plate, placeholder: "License Plate #", class: "appearance-none rounded-md relative block w-32 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" %>
                                <%= f.label :car_type, "Type:", class: "my-auto font-semibold" %>
                               <%= f.select :car_type, options_for_select([['Sedan'], ['SUV'], ['Coupé'], ['Pickup'], ['Van']]), class: "appearance-none rounded-md relative block w-full py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"  %>
                            </div>

                            <%= f.submit "Add Car", class: "group relative w-full flex justify-center mt-6 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</main>

