<!DOCTYPE html>
<html>
  <head>
    <title>FreshWash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Script for Facebook Login Button -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=643880789678183&autoLogAppEvents=1"></script>

  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
  <!-- Error Banner -->

<% if flash[:error] %>
<div class="alert-banner w-full fixed top-0">
    <input type="checkbox" class="hidden" id="banneralert">
      
    <label class="close cursor-pointer flex justify-center w-full p-2 bg-red-600 shadow text-white font-extrabold text-center" title="close" for="banneralert">
      <%= flash[:error] %>
      
      <svg class="fill-current text-white absolute right-0 mr-10 mt-1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
    </label>
  </div>
  <% elsif flash[:notice] %>
<div class="alert-banner w-full fixed top-0">
    <input type="checkbox" class="hidden" id="banneralert">
      
    <label class="close cursor-pointer flex justify-center w-full p-2 bg-green-600 shadow text-white font-extrabold text-center" title="close" for="banneralert">
      <%= flash[:notice] %>
      
      <svg class="fill-current text-white absolute right-0 mr-10 mt-1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
    </label>
  </div>
<% end %>
</footer>
</html>
